/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

/* Import Tailwind */
@import "tailwindcss";

/* Réinitialisation et configuration globale */
* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Police globale */
body {
  font-family: "Science Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}