/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

/* Import Tailwind */
@import "tailwindcss";

/* Réinitialisation et configuration globale */
* {
  box-sizing: border-box;
}

/* Police globale */
body {
  font-family: "Science Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}